<p id="notice"><%= notice %></p>

<h3>More information on how to <%= @trick.title %></h3>
<div class="row">
  <div class="col-md-6">
      <div class="img-thumbnail">
        <img src="<%= @trick.img1 %>" class="img-responsive" alt="<%= @trick.title %>">
      </div>
  </div>
  <div class="col-md-6">
    <table class="table table-condensed">
  <thead>
    <tr>
      <th>Follow this steps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag "one.png" %>&nbsp;<%= @trick.step1 %></td>
    </tr>
    <tr>
      <td><%= image_tag "two.png" %>&nbsp;<%= @trick.step2 %></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Follow this steps</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag "three.png" %>&nbsp;<%= @trick.step3 %></td>
      </tr>
      <tr>
        <td><%= image_tag "four.png" %>&nbsp;<%= @trick.step4 %></td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="col-md-6">
    <div class="img-thumbnail">
      <img src="<%= @trick.img2 %>" class="img-responsive" alt="<%= @trick.title %>">
    </div>
  </div>
</div>

<div class="col-md-12">
  <h5>Extratips: <%= @trick.extratips %></h5>
</div><br>

<div class="row">
  <div class="col-md-12">
  <div class="video-responsive">
    <iframe width="620" height="515" src= "<%= @trick.video %>">
    </iframe>
  </div>

  </div>
</div>
<% if can? :manage, User%>
<%= link_to 'Destroy', @trick, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_trick_path(@trick) %> |
<%= link_to 'Back', tricks_path %>
<% end %>
