<p id="notice"><%= notice %></h4>

<div class="row">
  <div class="col-md-6">
    <div class="img-thumbnail">
      <%= image_tag @dog.image1.url(:large), class: "img-responsive"%>
    </div>
  </div>
  <div class="col-md-6">

    <h4>
      <em><strong>Name:</strong></em>
      <%= @dog.name %>
    </h4>

    <h4>
      <em><strong>Age:</strong></em>
      <%= @dog.age %>
    </h4>

    <h4>
      <h4>
        <em><strong>Gender:</strong></em>
        <%= @dog.gender %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <em><strong>Title:</strong></em>
        <%= @dog.title %>
      </h4>
      <h4>
        <em><strong>Description:</strong></em>
        <%= @dog.description %>
      </h4>

    </div>
    <div class="col-md-6">
      <div class="img-thumbnail">

        <%= image_tag @dog.image2.url(:large), class: "img-responsive"%>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="img-thumbnail">
        <%= image_tag @dog.image3.url(:large), class: "img-responsive"%>
      </div>
    </div>
    <div class="col-md-6">

      <h4>
        <em><strong>Breed:</strong></em>
        <%= @dog.breed %>
      </h4>

      <h4>
        <em><strong>Color:</strong></em>
        <%= @dog.color %>
      </h4>

      <h4>
        <em><strong>Nickname:</strong></em>
        <%= @dog.nickname %>
      </h4>

      <h4>
        <em><strong>Price:</strong></em>
        <%= @dog.price %>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <blockquote cite="http://">
        <h4>
          <em><strong>Recomendation:</strong></em>
          <%= @dog.recomendation %>
        </h4>
      </blockquote>
    </div>
  </div>

<% if user_signed_in? %>
<% if current_user.superadmin_role?  %>
<%= link_to 'Edit', edit_dog_path(@dog) %>
|
<%= link_to 'Back', dogs_path %>
<% end %>
<% end %>
