<p id="notice"><%= notice %></p>

<%= image_tag @dog.image1.url(:medium)%>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Color:</strong>
  <%= @dog.color %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @dog.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dog.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dog.price %>
</p>

<p>
  <strong>Recomendation:</strong>
  <%= @dog.recomendation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
