<%= form_for [@puppy, @booking] do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :booking_full_name %>
  </div>

  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile, id: :booking_mobile %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :booking_email %>
  </div>

  <div class="field">
    <%= form.label :bid_amount %>
    <%= form.text_field :asking_price, id: :booking_asking_price %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn" %>
  </div>
<% end %>
