
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>

  <script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider();
    });

  </script>

<div class="well">
  <h1>Dogs</h1>

  <div class="row">
    <ul>
      <% @dogs.each do |dog| %>
      <div class="col-md-6">
        <div class="img-thumbnail">
          <%= image_tag dog.image1.url(:medium)%>
        </div>
        <li><%= dog.name %></li>
        <li><%= dog.color %></li>
        <li><%= dog.age %></li>
        <li><%= link_to '<button class="btn btn-info" type="button">See More</button>'.html_safe,  dog %></li>
      </div>
      <% end %>
    </ul>
  </div>
</div>

<div class="well">
  <h1>Available puppies</h1>

    <div class="row">
      <ul>
        <% @puppies.each do |puppy| %>
        <div class="col-md-4">
          <div class="img-thumbnail">
            <%= image_tag puppy.image1.url(:medium)%>
          </div>
          <li><%= puppy.name %><br>
            <%= puppy.color %><br>
            <%= puppy.age %><br>
            <%= link_to '<button class="btn btn-info" type="button">See More</button>'.html_safe, puppy %></li>
          </div>
          <% end %>
        </ul>
      </div>
</div>
