<h1>Available Dogs</h1>

<div class="row">
  <div class="col-md-6">
  <ul>
    <% @dogs.each do |dog| %>
      <li><%= dog.name %></li>
      <li><%= dog.color %></li>
      <li><%= dog.age %></li>
      <li><%= link_to 'Show', dog %></li>
    <% end %>
  </ul>
</div>
</div>

<h1>Available puppies</h1>

<div class="row">
  <div class="col-md-6">
  <ul>
    <% @puppies.each do |puppy| %>
      <li><%= puppy.name %></li>
      <li><%= puppy.color %></li>
      <li><%= puppy.age %></li>
      <li><%= link_to 'Show', puppy %></li>
    <% end %>
  </ul>
</div>
</div>
