<%= form_for  @puppy, html: { multipart: true } do |form| %>
  <% if puppy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(puppy.errors.count, "error") %> prohibited this puppy from being saved:</h2>

      <ul>
      <% puppy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :puppy_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :puppy_age %>
  </div>

  <div class="field">
    <%= form.label :image1 %>
    <%= form.file_field :image1, id: :image1 %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed, id: :puppy_breed %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :puppy_gender %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :puppy_color %>
  </div>
  <div class="field">
    <%= form.label :image2 %>
    <%= form.file_field :image2, id: :image2 %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :puppy_nickname %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :puppy_title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :puppy_price %>
  </div>

  <div class="field">
    <%= form.label :recomendation %>
    <%= form.text_field :recomendation, id: :puppy_recomendation %>
  </div>
  <div class="field">
    <%= form.label :image3 %>
    <%= form.file_field :image3, id: :image3 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :puppy_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
