<p id="notice"><%= notice %></p>

<%= image_tag @puppy.image1.url(:large)%>
<p>
  <strong>Name:</strong>
  <%= @puppy.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @puppy.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @puppy.breed %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @puppy.gender %>
</p>

<p>
  <strong>Color:</strong>
  <%= @puppy.color %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @puppy.nickname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @puppy.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @puppy.price %>
</p>

<p>
  <strong>Recomendation:</strong>
  <%= @puppy.recomendation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @puppy.description %>
</p>

<%= link_to 'Edit', edit_puppy_path(@puppy) %> |
<%= link_to 'Back', puppies_path %>
