<p id="notice"><%= notice %></h4>

<div class="row">
  <div class="col-md-6">
    <div class="img-thumbnail">
      <%= image_tag @puppy.image1.url(:large), class: "img-responsive"%>
    </div>
  </div>
  <div class="col-md-6">

    <h4>
      <strong>Name:</strong>
      <%= @puppy.name %>
    </h4>

    <h4>
      <strong>Age:</strong>
      <%= @puppy.age %>
    </h4>

    <h4>
      <h4>
        <strong>Gender:</strong>
        <%= @puppy.gender %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <strong>Title:</strong>
        <%= @puppy.title %>
      </h4>
      <h4>
        <strong>Description:</strong>
        <%= @puppy.description %>
      </h4>

    </div>
    <div class="col-md-6">
      <div class="img-thumbnail">

        <%= image_tag @puppy.image2.url(:large), class: "img-responsive"%>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="img-thumbnail">
        <%= image_tag @puppy.image3.url(:large), class: "img-responsive"%>
      </div>
    </div>
    <div class="col-md-6">

      <h4>
        <strong>Breed:</strong>
        <%= @puppy.breed %>
      </h4>

      <h4>
        <strong>Color:</strong>
        <%= @puppy.color %>
      </h4>

      <h4>
        <strong>Nickname:</strong>
        <%= @puppy.nickname %>
      </h4>

      <h4>
        <strong>Price:</strong>
        <%= @puppy.price %>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <blockquote cite="http://">
        <h4>
          <strong>Recomendation:</strong>
          <%= @puppy.recomendation %>
        </h4>
      </blockquote>
    </div>
  </div>

  <% if can? :manage, User %>
  <%= link_to 'Edit', edit_puppy_path(@puppy) %>
  |
  <%= link_to 'Back', puppies_path %>
  <% end %>

<!-- add something like a scroll spy effect to scroll down to the book button
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" id="ss">
      <i class="large material-icons">insert_emoticon</i>
    </a>
    <br><h6>Book now!!</h6>
  </div> -->

  <div class="book">
    <a class="btn-floating red"><i class="material-icons">keyboard_arrow_down</i></a>
  </div><br>
  <div class="book">
    <a class="btn-floating red"><i class="material-icons">keyboard_arrow_down</i></a>
  </div><br>
<div class="book">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Book now!!</a>
</div>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <div class="modal-header">
<div class="row">
  <h4>Book <%= @puppy.name %> now </h4><hr>
  <div class="col-md-6">
      <%= image_tag @puppy.image1.url(:thumb)%>
  </div>
  <div class="col-md-6">
    <h3><%= @puppy.name %></h3><br>
    <strong><h4>Asking Price:</h4></strong>
    <h4><%= @puppy.price %> ksh</h4>
  </div>
</div>
   </div>
   <div class="modal-content">
  <%= render :partial => 'bookings/form' %>
   </div>
 </div>

 <script type="text/javascript">
   $('.modal').modal();
 </script>
