<%= form_for  @testimonial, html: { multipart: true } do |form| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :testimonial_title %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :testimonial_message %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :image %>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn"%>
  </div>
<% end %>
