<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testimonial.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @testimonial.message %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
<br><br>
<%= link_to 'Show all comments', testimonial_comments_path(@testimonial) %>
