<!DOCTYPE html>
<html>
  <head>
    <title>SmartDoggy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>



  <body>
    <% unless flash.empty? %>
         <script type="text/javascript">
              <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
         </script>
    <% end %>

<div class="sidebar-nav">
  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <% if user_signed_in? %>
        <p>Logged in as: <%= current_user.email %></p>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"btn")%>
        <hr>
      <% end %>
      <h4>Smart Doggy</h4>
    </div></li>
    <li><a href="/">Home</a></li>
    <li><a href="/tricks">Contact us</a></li>
    <li><a href="/tricks">About us</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Services</a></li>
    <li><a class="waves-effect" href="/tricks">Train your puppy!</a></li>
    <li><a class="waves-effect" href="/testimonials">View testimonials</a></li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading"><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></div>
  </div>
  </div>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>
</div>

    <div class="space">
      <%= yield %>
    </div>
    <div class="footer">
  <div class="row">
  <div class="col-md-4">
    <h3>Smart doggy</h3>
    <p>Find the perfect puppy that suits you best</p>
    <a href="/">Home</a><br>
    <a href="/contact">Contact us</a><br>
    <a href="/services">Services</a>
  </div>
  <div class="col-md-4">
    <h3>Contact us</h3>
      <p>You can find us here:</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Landless <br>&nbsp;&nbsp;&nbsp;Thika, Kenya</p>
      <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;+254-721688945 <br>&nbsp;&nbsp;&nbsp; +245-721552402</p>
      <p> <span class="glyphicon glyphicon-envelope"></span>&nbsp; donnawanjiru@gmail.com <br>&nbsp;&nbsp;&nbsp; nyoikelewis@gmai.com</p>
  </div>
  <div class="col-md-4">
      <h3>About us</h3>
      <p>We are a family and team dedicated to bring happiness and joy to other
      familes through pet love</p>
  </div>
  </div>
</div>

  </body>
</html>
