<!DOCTYPE html>
<html>
  <head>
    <title>SmartDoggy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <% unless flash.empty? %>
         <script type="text/javascript">
              <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
         </script>
    <% end %>
    <ul class="nav nav-tabs">
<li role="presentation" position="right"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-th-list"></span></a></li>
<li role="presentation">

 <a href="/">Home</a>
</li>
</ul>
<div id="wrapper">

<!-- Sidebar -->
<div id="sidebar-wrapper">
 <ul class="sidebar-nav">
   <li class="sidebar-brand">
Smart Doggy
   </li>
   <li>
     <a href="/">Home</a>
   </li>
   <li>
     <a href="/tricks">Services</a>
   </li>
   <li>
     <a href="/testimonials">Testimonials</a>
   </li>
 </ul>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$("#menu-toggle").click(function(e) {
 e.preventDefault();
 $("#wrapper").toggleClass("toggled");
});
</script>
    <%= yield %>
  </body>
</html>
